  * Frontend:
    - JavaScript +
    - ReactJS +
    - Redux / Redux thunk +
    - Fetch +
    - Date-fns ?
    - Material UI (Customs) + css/scss +
  * Backend:
    - JavaScript
    - NodeJS
    - ExpressJS +
    - Express validator +
    - mongoose +
    - Auth: JsonWebToken-js +
    - Multer (uploads files)        !
    - Cloudinary (uploads images)   !
    - Nodemailer (dispatch email)   !
    - Concurrently (dev) +
    - Nodemon (dev) +
    - Config +
  * DataBase:
    - NoSQL: MongoDB
  * Storage:
    - Cloudinary
  * Tests:
    - Unit-tests (JestJS)
/------------------------
/  * Deploy:             |
/    - Firebase          |
/------------------------