// entry point to client-app
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "variables";
@import "mixins";
@import "nulling";
@import "header";
@import "mainPage";
@import "authPage";
@import "catalog";

.wrapper {
  max-width: 1820px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "header" "content";

  .header {
    grid-area: header;
  }
}